# Ignore data artifacts
*.gz
*.bgz
*.tbi
*.tgz
*.bcf
*.cram
*.bam
*.json
*.csi
*.tsv
*.txt

# IDE artifacts
*.swp
vim.sess

# Exploratory scripts
scratch/*

# Data directories and binaries
cram_summ
crams/*
data*
het_hom_sel

**/results
**/pipes

# Running artifact
nohup.out
debug.log
